.form-container {
  max-width: 175px; /* Reduced to half of 350px */
  margin: 50px auto;
  padding: 40px;
  background-color: var(--container-bg);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-container h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.form-container button {
  background-color: var(--primary-color);
  color: white;
  width: 100%;
}

.form-container button:hover {
  background-color: var(--secondary-color);
}

.email-verification {
  display: flex;
  gap: 10px;
}

.form-links {
    text-align: center;
    margin-top: 10px;
}

.form-links a {
    color: var(--primary-color);
    text-decoration: none;
}

.form-links a:hover {
    text-decoration: underline;
}
