.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 30px;
}

.logo {
  font-size: 2rem;
  font-weight: 800;
  color: var(--primary-color);
  cursor: pointer;
}

.nav-buttons {
  display: flex;
  gap: 15px;
}

.nav-btn {
  background-color: transparent;
  color: var(--primary-color);
  font-weight: 600;
  border: 2px solid var(--primary-color);
}

.nav-btn:hover {
  background-color: var(--primary-color);
  color: white;
}

.nav-btn.primary {
    background-color: var(--primary-color);
    color: white;
}

.nav-btn.primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
